<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .template {
            position: relative;
        }

        .layer {
            position: absolute;   
        }
    </style>
</head>
<body>
    <div class="template" style="width: <%= width %>px; height: <%= height %>px;">
        <% _.each(layers, function(item) {
            if(item.type === "text") { %>
        <div class="layer" 
            style="top: <%= item.style.top %>px; bottom: <%= item.style.bottom %>px; left: <%= item.style.left %>px; right: <%= item.style.right %>px; width: <%= item.style.width %>px; height: <%= item.style.height %>px; z-index: <%= item.style.zIndex %>; color: <%= item.style.color %>; opacity: <%= item.style.opacity %>; font-size: <%= item.style.fontSize %>px; font-style: <%= item.style.fontStyle %>; font-weight: <%= item.style.fontWeight %>; font-family: '<%= item.style.fontFamily %>'; line-height: <%= item.style.lineHeight %>px; margin-left: <%= item.style.marginLeft %>; letter-spacing: <%= item.style.letterSpacing %>px; text-decoration: <%= item.style.textDecoration %>; text-align: <%= item.name === 'text_main' ? options.text.main.textAlign : item.name === 'text_sub' ? options.text.sub.textAlign : item.name === 'text_action' ? options.text.action.textAlign : 'left' %>">
            <%= item.name === "text_main" ? options.text.main.value 
                : item.name === "text_sub" ? options.text.sub.value
                : item.name === "text_action" ? options.text.action.value : "" %>
            
        </div>
            <% } else { %>
                <div class="layer" style="top: <%= item.style.top %>px; bottom: <%= item.style.bottom %>px; left: <%= item.style.left %>px; right: <%= item.style.right %>px; width: <%= item.style.width %>px; height: <%= item.style.height %>px; z-index: <%= item.style.zIndex %>;">
                    <img src="<%= item.imageData %>" style="width: 100%; height: 100%">
                </div>
            
            <% }
            
        })%>
    </div>
</body>
</html>