<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .template {
            position: relative;
        }

        .layer {
            position: absolute;   
        }
    </style>
</head>
<body>
    <div class="template" style="width: <%= width %>px; height: <%= height %>px;">
        <% _.each(layers, function(item) {
            if(item.type === "text") { %>
        <div class="layer" 
            style="top: <%= item.style.top %>px;
                left: <%= item.style.left %>px;
                width: <%= item.style.width %>px;
                color: <%= item.style.color %>;
                font-size: <%= item.style.fontSize %>px;
                font-family: <%= item.style.fontFamily %>;
                font-weight: <%= item.style.fontWeight %>;
                text-align: <%= item.style.textAlign %>;
                line-height: <%= item.style.lineHeight %>;
                letter-spacing: <%= item.style.letterSpacing %>px;">
            <div class="text-area" style="opacity: <%= item.style.opacity %>;">
                <span><%= item.value %></span>
            </div>
        </div>
            <% } else { %>
        <div class="layer" 
            style="top: <%= item.style.top %>px;
                left: <%= item.style.left %>px;
                width: <%= item.style.width %>px;
                height: <%= item.style.height %>px;">
            <div class="image-area" 
                style="opacity: <%= item.style.opacity %>;">
                <img src="<%= item.image %>" />
            </div>
        </div>
            <% }
        })%>
    </div>
</body>
</html>